.container {
  width: 95%
}
/* Header/Logo */
img {
    width:250px;
    height: auto;
}
/* Buttons: Location, Submit */
.btn, .btn-large, .btn-small {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  color: black;
  border-color: black;
  width: 140px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #EE1B1F;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 1px;
  width: 140px;
  -webkit-box-shadow: none;
  box-shadow: none
}
