body {
  padding-top: 60px
}

.container {
  width: 95%
}
/* FONTS */

  @import url("https://use.typekit.net/vpe6yui.css");
  @import url('https://fonts.googleapis.com/css?family=EB+Garamond|Nunito+Sans:400,600');

h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 26px;
    color: black
  }
/*do I need .highlight*/
.highlight {
    color: #EE1B1F;
    font-weight: 600;
}
  /* Form field labels */

label {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: black
}

.input-field>label {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
      color: black
}

/* Header/Logo */
img {
    width:250px;
    height: auto;
}
/* Text inputs */
input[type=number]:not(.browser-default) {
  border-bottom: 2px solid white;
  color: white
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea.materialize-textarea {
  color: white
}
/* Checkbox field inputs */

[type="checkbox"]+span:not(.lever){
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: black
}

[type="checkbox"]:checked+span:not(.lever):before,
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #EE1B1F;
    border-bottom: 2px solid #EE1B1F
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid black;
    font-size: 16px;
    color: black
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border: 2px solid black;
    font-size: 16px;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid red;
    background-color: red;
    font-size: 16px
}

/* Dropdowns */

.select-wrapper input.select-dropdown {
    border-bottom: 2px solid black;
    color: black
}

.dropdown-content li>a, .dropdown-content li>span {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: black
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 2px solid #E11A2D
}

/* Buttons: Location, Submit */
.btn, .btn-large, .btn-small {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  color: black;
  border-color: black;
  width: 140px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #E11A2D;
  border-style: solid;
  border-width: 2px;
  border-color: #E11A2D;
  border-radius: 1px;
  width: 140px;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn:focus, .btn-large:focus, .btn-small:focus{
  background-color: #E11A2D;
  border-style: solid;
  border-width: 2px;
  border-color: #E11A2D;
  border-radius: 1px;
  width: 140px;
  -webkit-box-shadow: none;
  box-shadow: none
}
